Final Deliverables/Final_code/flows.json
[{"id":"86a5ea54a11d37b4","type":"debug","z":"e531d59b646ee020","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":840,"wires":[]},{"id":"64cf3399fcca9ab6","type":"delay","z":"e531d59b646ee020","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1000,"y":600,"wires":[["4e486b839f43ab83"]]},{"id":"acd183f1e9bce77f","type":"debug","z":"e531d59b646ee020","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":540,"wires":[]},{"id":"b02bafe7a318f22b","type":"switch","z":"e531d59b646ee020","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":480,"wires":[["f17bc5ef441df34a"],["2be2339420e08eac"]]},{"id":"9a051fb74b66b1d5","type":"debug","z":"e531d59b646ee020","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":380,"wires":[]},{"id":"aff4d816f3b437d1","type":"delay","z":"e531d59b646ee020","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":320,"wires":[["39868a8e9104ed5b"]]},{"id":"b24b8ee330b8dc21","type":"function","z":"e531d59b646ee020","name":"","func":"msg.payload = \"Ticket is Generated/Reserved\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":220,"wires":[["8bfd8d271b345055"]]},{"id":"737e8e536a5e7249","type":"function","z":"e531d59b646ee020","name":"QR Code data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":380,"wires":[["9a051fb74b66b1d5","771e00ab9c084301"]]},{"id":"2be2339420e08eac","type":"function","z":"e531d59b646ee020","name":"","func":"msg.payload = \"Ticket Cannot be Booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":480,"wires":[["9fe79c6ab1c6ad09"]]},{"id":"f73c6ccad80fa4f2","type":"function","z":"e531d59b646ee020","name":"m","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif(a==1 || a==2 || a==3 || a==4 || a==5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n// global.set('m',msg.payload)\n// var a = global.get('s')\n// if(a==1 || a==2 || a==3 || a==4 || a==5){\n//     msg.payload = 0\n// }\n// else{\n//     msg.payload = 1\n// }\n// return msg;","finalize":"","libs":[],"x":990,"y":480,"wires":[["b02bafe7a318f22b"]]},{"id":"f36df859fe3cac6b","type":"function","z":"e531d59b646ee020","name":"","func":"var s=global.get('s')\nvar a=global.get('a')\n//var seatCount  = global.get('seatCount')\n//if(seatCount < 0) return msg\nfunction rem(x){\n  //global.set('seatCount',seatCount-1)    \n  for(let i = 0 ; i<a.length;i++){\n      if(a[i]==x){\n          a.splice(i,1)\n      }\n  }\n  //global.set('a',a)\n}\nif(s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if(s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if(s==3){\n     global.set('s3',s)\n    rem(s)\n}\nelse if(s==4){\n    global.set('s4',s)\n    rem(s)\n}\n// else if(s==5){\n//     global.set('s5',s)\n//     rem(s)\n// }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":540,"wires":[["acd183f1e9bce77f"]]},{"id":"9b6b0f41ac75d74b","type":"function","z":"e531d59b646ee020","name":"","func":"// var seats  = global.get('a');\n// if(seats.length == 0){\n//     msg.payload = \"no seat available\"\n//     global.set('s',0)\n//     return msg\n// }\nglobal.set('s',msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":600,"wires":[["39aecc9bfd7444ed"]]},{"id":"4e486b839f43ab83","type":"function","z":"e531d59b646ee020","name":"","func":"var a = global.get('a')\ns=[]\nfor(let i = 0 ; i<a.length ;i++){\n    s.push(a[i])\n}\n\nif(s.length==0){\n    msg.options=[{\"No Seats Available\" : 0}]\n}\n\nelse{\n    msg.options=s\n}\n\nif(s.length==1){\n    global.set('s',s[0])\n    msg.payload=s[0]\n    return msg\n}\nmsg.payload=s\nreturn msg;\n\n\nvar a=global.get('a')\nvar seatCount = global.get('seatCount')\nvar s= []\nif(seatCount == 0){\nmsg.payload= [{\"No seats available\":0}]\nreturn msg;  \n}\nfor(let i=0;i<a.length;i++){\n s.push(a[i])\n}\nmsg.options= s\nmsg.payload= s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":620,"wires":[["e06d9cded2ae3512","996b5d659bb2e219"]]},{"id":"72d232ac32771011","type":"function","z":"e531d59b646ee020","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\n global.set('s4',0)\n// global.set('s5',0)\nvar a1=[1,2,3,4]\n//var seatCount = 3 \n//global.set('seatCount',seatCount)\nglobal.set('a',a1)\n//global.set('s',1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":660,"wires":[["4e486b839f43ab83"]]},{"id":"27a156838288a7db","type":"function","z":"e531d59b646ee020","name":"Boarding","func":"global.set('b', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":720,"wires":[[]]},{"id":"e27436a110f8233b","type":"function","z":"e531d59b646ee020","name":"Destination","func":"global.set('d', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":780,"wires":[[]]},{"id":"f17bc5ef441df34a","type":"function","z":"e531d59b646ee020","name":"Storing data in DB","func":"var m=global.get('m')\nvar d=new Date();\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset=5.5;\nnewDate=new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10)\nvar time=n.slice(11,19)\nvar d1=date+','+time\n\nmsg.payload={\n    \"_id\":d1,\n    \"Name\":m.Name,\n    \"Age\":m.Age,\n    \"Mobile\":m.Num,\n    \"boarding\":global.get('b'),\n    \"destination\":global.get('d'),\n    \"Seat\":global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":380,"wires":[["737e8e536a5e7249","a63359072eb73663"]]},{"id":"39868a8e9104ed5b","type":"function","z":"e531d59b646ee020","name":"Empty Data","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":320,"wires":[["c704f4a6e5cd8418"]]},{"id":"39aecc9bfd7444ed","type":"debug","z":"e531d59b646ee020","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":600,"wires":[]},{"id":"996b5d659bb2e219","type":"debug","z":"e531d59b646ee020","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":660,"wires":[]},{"id":"a2281fcef8b85823","type":"ibmiot in","z":"e531d59b646ee020","authentication":"apiKey","apiKey":"687cadee5ec9f937","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"987654321","applicationId":"","deviceType":"railway23","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":830,"y":840,"wires":[["86a5ea54a11d37b4","dfe6a5bb40d7fe85"]]},{"id":"5fd0ed14c102aa6e","type":"ui_button","z":"e531d59b646ee020","name":"","group":"76d98553dbe2e3e2","order":2,"width":"2","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":830,"y":660,"wires":[["72d232ac32771011"]]},{"id":"b01cb2fed24b8dc3","type":"ui_dropdown","z":"e531d59b646ee020","name":"","label":"Boarding Station","tooltip":"","place":"Select option","group":"082c0ae2f172b84d","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Trichy","value":"Trichy","type":"str"},{"label":"Karur","value":"Karur","type":"str"},{"label":"Salem","value":"Salem","type":"str"},{"label":"Namakkal","value":"Namakkal","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":870,"y":720,"wires":[["27a156838288a7db"]]},{"id":"1cf5a2984f4f03b1","type":"ui_dropdown","z":"e531d59b646ee020","name":"","label":"Destination Station","tooltip":"","place":"Select option","group":"082c0ae2f172b84d","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"Trichy","value":"Trichy","type":"str"},{"label":"Karur","value":"Karur","type":"str"},{"label":"Salem","value":"Salem","type":"str"},{"label":"Namakkal","value":"Namakkal","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":870,"y":780,"wires":[["e27436a110f8233b"]]},{"id":"e06d9cded2ae3512","type":"ui_dropdown","z":"e531d59b646ee020","name":"Seat","label":"Seat","tooltip":"","place":"Select option","group":"eb91800426dd5a22","order":4,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"s1","value":"s1","type":"str"},{"label":"s2","value":"s2","type":"str"},{"label":"s3","value":"s3","type":"str"},{"label":"s4","value":"s4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1310,"y":600,"wires":[["9b6b0f41ac75d74b"]]},{"id":"231f61c3b26abe46","type":"ui_form","z":"e531d59b646ee020","name":"","label":"","group":"fce3cdca51ae9133","order":3,"width":"0","height":"0","options":[{"label":"Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Mobile.No","value":"Num","type":"number","required":true,"rows":null}],"formValue":{"Name":"","Age":"","Num":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":830,"y":600,"wires":[["64cf3399fcca9ab6","f36df859fe3cac6b","f73c6ccad80fa4f2"]]},{"id":"9fe79c6ab1c6ad09","type":"ui_toast","z":"e531d59b646ee020","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1530,"y":480,"wires":[[]]},{"id":"8bfd8d271b345055","type":"ui_toast","z":"e531d59b646ee020","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1570,"y":220,"wires":[[]]},{"id":"c704f4a6e5cd8418","type":"ui_template","z":"e531d59b646ee020","group":"cf3b6188c51b1e44","name":"","order":5,"width":"3","height":"3","format":"<img src={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1540,"y":260,"wires":[[]]},{"id":"dfe6a5bb40d7fe85","type":"worldmap","z":"e531d59b646ee020","name":"","lat":"","lon":"","zoom":"3","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1080,"y":900,"wires":[]},{"id":"771e00ab9c084301","type":"qrcode-generator","z":"e531d59b646ee020","name":"QRCODE","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":1180,"y":300,"wires":[["aff4d816f3b437d1","c704f4a6e5cd8418","b24b8ee330b8dc21"]]},{"id":"a63359072eb73663","type":"cloudant out","z":"e531d59b646ee020","name":"","cloudant":"","database":"booking","service":"node-red-szhjy-2022--cloudant-1667566033643-6061","payonly":true,"operation":"insert","x":1000,"y":320,"wires":[]},{"id":"687cadee5ec9f937","type":"ibmiot","name":"railway23","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"76d98553dbe2e3e2","type":"ui_group","name":"Clear","tab":"39c45aa9b5b2c560","order":5,"disp":true,"width":"3","collapse":false},{"id":"082c0ae2f172b84d","type":"ui_group","name":"","tab":"39c45aa9b5b2c560","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb91800426dd5a22","type":"ui_group","name":"Seat","tab":"39c45aa9b5b2c560","order":2,"disp":false,"width":"14","collapse":false},{"id":"fce3cdca51ae9133","type":"ui_group","name":"Details","tab":"39c45aa9b5b2c560","order":3,"disp":true,"width":"14","collapse":true},{"id":"cf3b6188c51b1e44","type":"ui_group","name":"QR Code","tab":"39c45aa9b5b2c560","order":4,"disp":true,"width":"6","collapse":false},{"id":"39c45aa9b5b2c560","type":"ui_tab","name":"Form","icon":"dashboard","order":0,"disabled":false,"hidden":false}]